<!-- NG-ZORRO -->
<!--app-header></app-header-->
<!--app-registro-usuario></app-registro-usuario-->
<div class="menu-principal">
<nz-layout>
    <nz-header>
      <div class="logo">
        <img src="../assets/img/logo_ese.png"/>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item>Inicio</li>
        <li nz-menu-item nzSelected>Integrantes</li>
        <li nz-menu-item>Salir</li>
      </ul>
    </nz-header>
    <nz-content class="outer-content">
      <nz-layout class="inner-layout">
        <nz-sider nzWidth="200px" nzTheme="light">
          <ul nz-menu nzMode="inline" class="sider-menu">
            <li nz-submenu  nzTitle="Usuarios" nzIcon="user">
              <ul>
                <!--nzSelected-->
                <li nz-menu-item nzSelected (click)="estadoComponente('registro-usuarios')">Registro</li>
                <li nz-menu-item (click)="estadoComponente('reporte-usuarios')">Reporte</li>
              </ul>
            </li>
            <!--span nz-icon nzType="car" nzTheme="outline"></span-->
            <li nz-submenu nzOpen nzTitle="Vehiculos" nzIcon="car">
              <ul>
                <li nz-menu-item (click)="estadoComponente('registro-vehiculo')">Registro</li>
                <li nz-menu-item (click)="estadoComponente('reporte-vehiculos')">Reporte</li>
              </ul>
            </li>
            <li nz-submenu nzTitle="Revisiones" nzIcon="setting">
              <ul>
                <li nz-menu-item (click)="estadoComponente('reporte-revision')">Solicitudes</li>
                <li nz-menu-item>Estado</li>

              </ul>
            </li>
          </ul>
        </nz-sider>
        <nz-content class="inner-content">
            <div>
                <app-registro-usuario *ngIf="interfazRegistroUsuarios == true"></app-registro-usuario>
                <app-reporte-usuarios *ngIf="interfazReporteUsuarios == true"></app-reporte-usuarios>
                <app-registro-vehiculo *ngIf="interfazRegistroVehiculo == true"></app-registro-vehiculo>
                <app-reporte-vehiculos *ngIf="interfazReporteVehiculos == true"></app-reporte-vehiculos>
                <app-registro-revision *ngIf="interfazRegistroRevision == true"></app-registro-revision>
                <app-reporte-revisiones *ngIf="interfazReporteRevisiones == true"></app-reporte-revisiones>
            </div> 
        </nz-content>
      </nz-layout>
      <nz-footer>Ant Design ©2020 Implement By Grupo 2 Mision Tic Grupo 57</nz-footer>
    </nz-content>
  </nz-layout>
  </div>